h2{
	font-size: 25px;
	text-align: center;
	font-style: "Tw Cen MT"
	}
h1{
	color: #4B0082;
	text-align: center;
	font-size: 70px;
	font-family: "Tw Cen MT";
	padding-top: 30px;
}
a:link {
	color: #4B0082;
	text-decoration: none;
}
a:hover {
	color: gray;
}
p{
	padding-left: 20%;
	padding-right: 20%;
	font-size: 20px
}
h3{
	font-size: 20px;
	text-align: left;
	padding-left: 15%;
	padding-right: 15%;
	font-style: "Lucida"
	}
ul{
	padding-left:  25%;
	padding-right: 25%;
}
div{
	font-weight: bold;
}