h2{
	font-size: 25px;
	text-align: center;
	font-style: "Tw Cen MT"
	color:#4B0082;
	}
h1{
	color:#4B0082;
	text-align: center;
	font-size: 70px;
	font-family: "Tw Cen MT";
	padding-top: 30px;
}
a:link {
	color: #4B0082;
	text-decoration: none;
}
a:hover {
	color: gray;
}
a:active {
	color: black;
	text-decoration: none;
}
.info{
	padding-left: 30%;
	padding-right: 30%;
	font-size: 20px
}
.heading{
	font-size: 20px;
	text-align: left;
	padding-left: 15%;
	padding-right: 15%;
	font-style: "Lucida";
	float: left;
	display: inline-block;
	font-weight: bold;
	}
ul{
	padding-left:  15%;
	padding-right: 15%;
	font-size: 18px;
}
